@use 'styles/_mixins.scss' as mixins;

.Menu {
  background: var(--color-surface);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  z-index: 100;
  color: black;
  text-align: left;
  border: 1px solid var(--color-surface-edge);
  padding-bottom: 5px;
}

.MenuItem {
  cursor: pointer;
  padding: 12px 45px 12px 16px;
  color: var(--color-on-surface);
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dark .MenuItem {
  @include mixins.hover-otherwise-active {
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
  }
}

.light .MenuItem {
  @include mixins.hover-otherwise-active {
    background: var(--color-body);
  }
}

.MenuItem-leading {
  width: 35px;
}

.MenuItem-title {
  flex: 1;
  text-align: left;
}

.Divider {
  width: 100%;
  margin: 5px 0;
  padding: 0;
  height: 1px;
  background: var(--color-surface-edge);
}

.MenuTitle {
  color: var(--color-secondary);
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 16px 8px;
  margin: 0;
}

.MenuTrigger {
  position: relative;
}

.MenuTrigger-popup {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  width: max-content;
}