
.Bookshelf {
  padding: 8px 16px 0;
  margin: 0 0 20px;
  background: var(--color-surface);
  border: 0px solid var(--color-surface-edge);
  border-radius: 5px;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.12);
}

.Bookshelf-title {
  padding: 12px 8px;
  margin: 0;
  border-bottom: 1px solid var(--color-surface-edge);
  font-size: 1.4rem;
}

.Bookshelf-icon {
  margin-right: 8px;
}

.Bookshelf-content {
  padding: 16px 0;
}

.Bookshelf-empty {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  text-align: center;
  opacity: 1;
  animation: fade-in .75s;

  .illustration {
    width: 180px;
  }

  .content {
    max-width: 20rem;
    margin: 8px;
  }

  .content-title {
    font-family: 'Lobster Two';
    font-size: 2rem;
    text-transform: none;
    margin: 8px 0;
    color: var(--color-secondary);
  }

  .content-text {
    color: var(--color-on-surface);
    font-size: 1.1rem;
    margin: 0;
  }
}