html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  font-weight: 500;
}
