@use 'styles/_mixins.scss';

.Nav {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.NavItem {
  color: inherit;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 2px;
  text-align: center;

  & > a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;

    @include mixins.on-hover {
      box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.10);
    }
  }
}
